* {
    box-sizing: border-box;
    background: #000;
    font-family: "georgia";
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

div {
    padding: 5%;
    /*outline: #00FF00 dotted thick;*/
}

a {
    color: #D6DBDF;
}

#name {
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2.5em;
    
}

#info {
    color: white;
    text-align: center;
    border: 3px solid white;
    width: 40%;
    float: left;
}

#a {
    width: 30%;
    float: left;
}

#b {
    width: 30%;
    float: left;
}

#c {
    width: 30%;
    float: left;
}

footer{
    text-align: center
}